<h2>Edit your profile:</h2>
<form name="userEditForm">
	<input type="email"
		class="form-group form-control"
		placeholder="Email*"
		ng-model="$ctrl.user.email"
		disabled/>
	<input type="text"
		class="form-group form-control"
		placeholder="Name"
		ng-model="$ctrl.user.name"
		pattern="[a-zA-Z]+"/>
		<!-- Unicode regex classes are not yet supported in javascript -->
		<!-- pattern="\p{L}+"/> -->
	<input type="text"
		class="form-group form-control"
		placeholder="Last name"
		ng-model="$ctrl.user.lastName"
		pattern="[a-zA-Z]+"/>
		<!-- Unicode regex classes are not yet supported in javascript -->
		<!-- pattern="\p{L}+"/> -->
	<input type="text"
		class="form-group form-control"
		placeholder="City"
		ng-model="$ctrl.user.city"
		pattern="[a-zA-Z ]+"/>
		<!-- Unicode regex classes are not yet supported in javascript -->
		<!-- pattern="[\p{L} ]+"/> -->
	<input type="tel"
		class="form-group form-control"
		placeholder="Phone number"
		ng-model="$ctrl.user.phoneNumber"
		pattern="\d{9,10}"/>
	<input type="submit"
		class="btn btn-custom"
		value="Edit"
		ng-click="userEditForm.$valid && $ctrl.send()"/>
	<p>
		{{$ctrl.status}}
	</p>
</form>
