<h1>Projection form {{$ctrl.projectionId}}</h1>


<div class="row justify-content-md-left">
	<form name="projection-form">
	
	<div class="form-group row">
    <label for="nameInput">Name:</label>
	<input type="text"
		id="nameInput"
		class="form-group form-control"
		placeholder="Name"
		ng-model="$ctrl.projection.name"
		required/>
	</div>
	
	<div class="form-group row">
    <label for="artistsInput">List of artists:</label>
	<input type="text"
		id="artistsInput"
		class="form-group form-control"
		placeholder="Artists list"
		ng-model="$ctrl.projection.listOfActers"
		required/>
	</div>
	
	
	<div class="form-group row">
    <label for="nameInput">Rating:</label>
	<input type="number"
		max = 5
		min = 0
		id="nameInput"
		class="form-group form-control"
		placeholder="rating"
		ng-model="$ctrl.place.rating"
		required/>
	</div>
	
	<div class="form-group row">
    <label for="nameInput">Adress:</label>
	<input type="text"
		id="nameInput"
		class="form-group form-control"
		placeholder="Address"
		ng-model="$ctrl.place.address"
		required/>
	</div>
	
	<input type="submit"
		class="btn btn-custom"
		value="Change"
		ng-click="$ctrl.send()"/>
		
	<p>
		{{$ctrl.status}}
	</p>
	</form>
	
</div>
	
	
	
	
	
	
	
	