<div>
	<h2>{{$ctrl.placeType}} list:</h2>
	<form class="form-row">
		<div class="col-md-auto">
			<div class="form-group input-group">
				<input type="text"
					class="form-control"
					ng-model="$ctrl.search"
					placeholder="Search {{$ctrl.placeType | lowercase}}s"
					autofocus/>
				<div class="input-group-append">
					<span class="input-group-text">
						<i class="fas fa-search"></i>
					</span>
				</div>
			</div>
		</div>
	</form>
	Order by:
	<ul class="list-inline d-inline">
		<li class="list-inline-item separate">
			<a ng-click="$ctrl.orderBy('name')">Name</a>
			<span ng-show="$ctrl.order === 'name'">
				<i class="fas fa-sort-up" ng-show="!$ctrl.isReverse"></i>
				<i class="fas fa-sort-down" ng-show="$ctrl.isReverse"></i>
			</span>
		</li>
		<li class="list-inline-item separate">
			<a ng-click="$ctrl.orderBy('rating')">Rating</a>
			<span ng-show="$ctrl.order === 'rating'">
				<i class="fas fa-sort-up" ng-show="!$ctrl.isReverse"></i>
				<i class="fas fa-sort-down" ng-show="$ctrl.isReverse"></i>
			</span>
		</li>
		<li class="list-inline-item separate">
			<a ng-click="$ctrl.orderBy('address')">Address</a>
			<span ng-show="$ctrl.order === 'address'">
				<i class="fas fa-sort-up" ng-show="!$ctrl.isReverse"></i>
				<i class="fas fa-sort-down" ng-show="$ctrl.isReverse"></i>
			</span>
		</li>
	</ul>
</div>
<div class="row no-gutters align-items-stretch">
	<div ng-repeat="place in $ctrl.places | filter:$ctrl.search | orderBy:$ctrl.order:$ctrl.isReverse"
		class="card m-md-1 col-lg-4 col-md-6">
			<div class="card-body">
				<h3 class="card-title">
					<a ui-sref="home.placeDetail({id: place.id})">
						{{place.name}}
					</a>
					<a ng-if="$root.user.userType == 'PLACEADMIN'"
						ui-sref="home.placeDetailAdmin({id: place.id})">
							<i class="fas fa-edit"></i>
					</a>
				</h3>
				<div class="card-subtitle mb-2 text-muted">
					<my-stars rating="place.rating" max="5"></my-stars>
					{{place.rating}}/5
					<address>{{place.address}}</address>
				</div>
				<p class="card-text">{{place.description}}</p>
			</div>
	</div>
</div>
