<h2> You are now in admin view of place {{ $ctrl.placeId }} </h2>

<div class="row justify-content-md-left">
	<form name="place-edit-form">
	
	<div class="form-group row">
    <label for="nameInput">Name:</label>
	<input type="text"
		id="nameInput"
		class="form-group form-control"
		placeholder="Name"
		ng-model="$ctrl.place.name"
		required/>
	</div>
	
	<div class="form-group row">
    <label for="nameInput">Rating:</label>
	<input type="number"
		max = 5
		min = 0
		id="nameInput"
		class="form-group form-control"
		placeholder="rating"
		ng-model="$ctrl.place.rating"
		required/>
	</div>
	
	<div class="form-group row">
    <label for="nameInput">Adress:</label>
	<input type="text"
		id="nameInput"
		class="form-group form-control"
		placeholder="Address"
		ng-model="$ctrl.place.address"
		required/>
	</div>
	
	<div class="form-group row">
    <label for="nameInput">Description:</label>
	<textarea type="text"
		id="nameInput"
		class="form-group form-control input-lg"
		placeholder="Description"
		ng-model="$ctrl.place.description"
		rows = 5
		required>
		
		</textarea>
	</div>
	
	
	<input type="submit"
		class="btn btn-custom"
		value="Change"
		ng-click="$ctrl.send()"/>
		
	<p>
		{{$ctrl.status}}
	</p>
	</form>
	
</div>
<h2> Projections: </h2><br>
<a ui-sref="home.projectionForm({idPlace: $ctrl.place.id, idProjection: -1})">
	<button type="button" class="btn btn-custom"  >Add new projection </button>
</a>
<br><br>
<my-projection-list ></my-projection-list>

