<div class="row">
	<div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Active</h5>
        <table class="table">
        	<tr ng-repeat="prop in $ctrl.props[0]">
        		<td><a ui-sref="propsused.prop({id: prop.id})">{{prop.name}}</a></td>
        		<td>{{prop.description}}</td>
        	</tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Inactive</h5>
        <table class="table">
        	<tr ng-repeat="prop in $ctrl.props[1]">
        		<td><a ui-sref="propsused.prop({id: prop.id})">{{prop.name}}</a></td>
        		<td>{{prop.description}}</td>
        	</tr>
        </table>
      </div>
    </div>
  </div>
</div>
