<div class="row justify-content-md-left">
	<div class="col-sm-5">
		<form name="changeRole">
			<div angucomplete-alt id="placesSelect"
				 placeholder="Search users by name, email, id"
			   	 maxlength="50"
			     pause="100"
			     selected-object="$ctrl.selectedUser"
				 local-data="$ctrl.users"
				 search-fields="name,lastName,email,id"
				 title-field="name,lastName,email,id"
			     minlength="1"
				 input-class="form-control form-group"
				 match-class="highlight"></div>
				 <input type="hidden" ng-model="$ctrl.selectedUser" required/>
			<select class='form-control form-group' ng-model = "$ctrl.selectedUser.description.userType" required>
				<option value = 'VISITOR'>VISITOR</option>
				<option value = 'PLACEADMIN'>PLACEADMIN</option>
				<option value = 'FANZONEADMIN'>FANZONEADMIN</option>
				<option value = 'SYSADMIN'>SYSADMIN</option>
			</select>
			<input type="submit" class="btn btn-custom" value="Change role" ng-click="changeRole.$valid && $ctrl.send()"/>
		</form>
		<p>{{$ctrl.status}}</p>
	</div>
	
	<div class="col-sm-5">
		<form name="scale">
			<label for="silver">Silver medal threshold</label>
			<input id="silver" type="number" class='form-control form-group' placeholder="Silver threshold" min="0" ng-model="$ctrl.scale.silver" required/">
			<label for="gold">Gold medal threshold</label>
			<input id="gold" type="number" class='form-control form-group' placeholder="Gold threshold" min="0" ng-model="$ctrl.scale.gold" required/">
			<input type="submit" class="btn btn-custom" value="Change scale" ng-click="scale.$valid && $ctrl.sendScale()"/>
		</form>
		<p>{{$ctrl.scaleStatus}}</p>
	</div>
</div>