<div class="row justify-content-md-center">
	<div class="col-md-4 panel">
		<h2>Reserve seats for {{$ctrl.projection.name}}</h2>
		<form name="reservationForm">
			<div class="form-group">
				<label for="dateSelect">
					Date:
				</label>
				<select id="dateSelect"
					class="form-control"
					ng-model="$ctrl.selectedDate"
					ng-options="(date.timeStamp*1000 | date:'medium') for date in $ctrl.dates track by date.id"
					ng-change="$ctrl.selectedDateChanged()"
					required>
						<option value="">---Please select a date---</option>
				</select>
			</div>
			<div class="form-group">
				<label for="hallSelect">
					Hall:
				</label>
				<select id="hallSelect"
					class="form-control"
					ng-model="$ctrl.selectedFilteredDate"
					ng-options="date.hall.name for date in $ctrl.filteredDates track by date.hall.id"
					required>
						<option value="">---Please select a hall---</option>
				</select>
			</div>
			<div class="form-group" ng-if="$root.user.userType == 'PLACEADMIN'">
				<label for="discountInput">
					Discount:
				</label>
				<input type="number"
					value = 0
					max = 100
					min = 0
					id="discountInput"
					class="form-control"
					placeholder="Discount"
					ng-model="$ctrl.discount"/>
			</div>
			<div>
				<label>Seats:</label>
				<my-seats seats="$ctrl.selectedFilteredDate.reservationLayout"
					columns="$ctrl.selectedFilteredDate.hall.columns"
					on-change="$ctrl.seatsChanged(output)">
				</my-seats>
			</div>
			<input type="submit"
				class="btn btn-custom"
				value="Reserve"
				ng-click="reservationForm.$valid && $ctrl.send()"/>
			<input type="submit" ng-if="$root.user.userType == 'PLACEADMIN'"
				class="btn btn-custom"
				value="Prepare a fast reservation"
				ng-click="reservationForm.$valid && $ctrl.sendFast()"/>
			<p>
				{{$ctrl.status}}
			</p>
		</form>
	</div>
</div>
