<div class="row justify-content-md-center">
	<div class="col-md-4 panel">
		<h2>Reserve seats for {{$ctrl.projection.name}}</h2>
		<form name="reservationForm">
			<div class="form-group">
				<label for="dateSelect">
					Date:
				</label>
				<select id="dateSelect"
					class="form-control"
					ng-model="$ctrl.selectedDate"
					ng-options="(date.timeStamp*1000 | date:'medium') for date in $ctrl.dates track by date.id"
					ng-change="$ctrl.selectedDateChanged()">
				</select>
			</div>
			<div class="form-group">
				<label for="hallSelect">
					Hall:
				</label>
				<select id="hallSelect"
					class="form-control"
					ng-model="$ctrl.selectedFilteredDate"
					ng-options="date.hall.name for date in $ctrl.filteredDates track by date.hall.id">
				</select>
			</div>
			<p>
				{{$ctrl.selectedFilteredDate.reservationLayout}}
			</p>
			<input type="submit"
				class="btn btn-custom"
				value="Reserve"
				ng-click="reservationForm.$valid && $ctrl.send()"/>
			<p>
				{{$ctrl.status}}
			</p>
		</form>
	</div>
</div>
